@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.glassmorphic {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  opacity: 0.9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

body {
  background-color: black;
  background-image: url('/bg.svg');
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


::-webkit-scrollbar-thumb {
  background: cyan;
  border-radius: 10px;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
  z-index: 19;
}
.tshadow{
  text-shadow:  22px 14px 16px #000;
}